

<!doctype html>
<html lang="en">
<head>

    <!-- <link type="text/css" href="styles.css"> -->

</head>

<div> 
   
<table>
    <tr> 
        <td align="center"  *ngIf="errorflag"><small>{{errormessage}}</small> </td>
    </tr>
<tr> 
   <td align="right">User Name</td> 
   <td align="left"> <input type="text"
     name="Username"  [(ngModel)]="username" >     </td>
</tr>
<tr>
    <td align="right">Password:</td>
    <td align="left"> <input name="Password"
         type="password"  [(ngModel)]="password"> </td>
    
</tr>

</table>
<button (click)="validatelogin()"  >Submit</button>

</div>

</html>